<a href="https://colab.research.google.com/github/huypham090300/Pythonnangcao/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1

In [ ]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)
find_dups([1, 1, 2, 3, 4, 2])

{1, 2}

In [ ]:
find_dups([1, 2, 3, 4])

set()

Câu 2

In [ ]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Bob'), ('Beatrice', 'Chen'), ('Cari', 'Ali')}

Câu 3

In [ ]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Mouse','Tiger','Dragon'}, {1,3,5})

{('Dragon', 3), ('Mouse', 1), ('Tiger', 5)}

Câu 5

In [ ]:
def count_values(key,value):
  count = dict()
  if(count_values == 2):
    return count
  return count_values
count_values = {1:'red',1:'green',2:'blue'}
print(count_values[2])

blue

Câu 6

In [16]:
def subatomic(value, key):
  min =0
  for i in len(subatomic):
    i +=1
    if (i<min):
      min = i
  return subatomic
subatomic = {'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}
print(subatomic)

{'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}

Câu 7

In [19]:
def count_duplicates(value, key):
  for i in len(count_duplicates):
    i += 1
    print(count_duplicates.count(i))
  return count_duplicates
count_duplicates = {2,3,5,9,10,5,4,1}
print(count_duplicates)

{1, 2, 3, 4, 5, 9, 10}