<a href="https://colab.research.google.com/github/huypham090300/Pythonnangcao/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1

In [ ]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)
find_dups([1, 1, 2, 3, 4, 2])

{1, 2}

In [ ]:
find_dups([1, 2, 3, 4])

set()

Câu 2

In [ ]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Bob'), ('Beatrice', 'Chen'), ('Cari', 'Ali')}

Câu 3

In [ ]:
def mating_pairs(animals, nums):
  pairs = set()
  num_gerbils = len(animals)
  for i in range(num_gerbils):
    animal = animals.pop()
    num = nums.pop()
    pairs.add((animal, num),)
  return pairs
mating_pairs({'Mouse','Tiger','Dragon'}, {1,3,5})

{('Dragon', 3), ('Mouse', 1), ('Tiger', 5)}

Câu 5

In [6]:
def count_values(dic):
  fun = []
  for key, value in dic.items():
    fun.append(value)
  for key, value in dic.items():
    count = 0
    for i in fun:
      if i == value:
        count = count + 1
    if count == 1:
      print(value)
dic = {'red': 1, 'green': 1, 'blue': 2}
count_values(dic)

2

Câu 6

In [ ]:
def subatomic(value, key):
  min =0
  for i in len(subatomic):
    i +=1
    if (i<min):
      min = i
  return subatomic
subatomic = {'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}
print(subatomic)

{'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.14}

Câu 7

In [8]:
def count_duplicates(dict):
  fun = []
  for key, value in dic.items():
    if value in fun:
      print(value)
    else:
      fun.append(value)
dict = {1,9,7,2,5,7,6}
count_duplicates(dict)

1

Câu 8

In [ ]:
def is_called(colors, nums)->bool:
  is_called = set()
  return True
is_called = ({'red','blue','green'})