<a href="https://colab.research.google.com/github/huypham090300/Pythonnangcao/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1

In [1]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)
find_dups([1, 1, 2, 3, 4, 2])

{1, 2}

In [ ]:
find_dups([1, 2, 3, 4])

set()

Câu 2

In [ ]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Bob'), ('Beatrice', 'Chen'), ('Cari', 'Ali')}

Câu 3

In [ ]:
def mating_pairs(animals, nums):
  pairs = set()
  num_gerbils = len(animals)
  for i in range(num_gerbils):
    animal = animals.pop()
    num = nums.pop()
    pairs.add((animal, num),)
  return pairs
mating_pairs({'Mouse','Tiger','Dragon'}, {1,3,5})

{('Dragon', 3), ('Mouse', 1), ('Tiger', 5)}

Câu 5

In [ ]:
def count_values(dic):
  fun = []
  for key, value in dic.items():
    fun.append(value)
  for key, value in dic.items():
    count = 0
    for i in fun:
      if i == value:
        count = count + 1
    if count == 1:
      print(value)
dic = {'red': 1, 'green': 1, 'blue': 2}
count_values(dic)

2

Câu 6

In [ ]:
def least(dic):
  min = 999999999
  for key, value in dic.items():
    if value < min:
      min = value
      str1 = key
    else:
      continue
  for key, value in dic.items():
    if key == str1:
      print(key)
nguyentu = {'neutron': 0.55, 'proton': 0.21, 'meson': 0.03, 'muon': 0.07, 'neutrino': 0.80}
least(nguyentu)

meson

Câu 7

In [8]:
def count_duplicates(dictionary):
    duplicates = 0
    values = list(dictionary.values())
    for item in values:      
        if values.count(item) >= 2:
            duplicates = duplicates + 1     
            num_occurrences = values.count(item)
            for i in range(num_occurrences):
                values.remove(item)

    return duplicates
count_duplicates({'A': 1, 'B': 2, 'C': 2, 'D': 1, 'E': 3})

2

Câu 8

In [ ]:
def is_balanced(dic):
  balanced=0
  for key, value in dic.items():
    balanced += value
  if balanced == 1:
    return True
  else:
    return False
color = {'R':0.3,'G':0.3,'B':0.2}
is_balanced(color)

False

Câu 9

In [ ]:
def dict_intersect(dic1,dic2):
  dic3 = {}
  for key, value in dic1.items():
    for key1, value1 in dic2.items():
      if ((key == key1) and (value ==value1)):
        dic3[key] = value
  return dic3
dic1 = {'red': 1, 'green': 1, 'blue': 2}
dic2 = {'red': 1, 'green': 5, 'blue': 2, 'black': 4}
dict_intersect(dic1,dic2)

{'blue': 2, 'red': 1}

Câu 12

In [22]:
def sparse_add(vector_a, vector_b):
  sum = vector_a.copy()
  for key in vector_b:
    if key in sum:
      sum[key] = sum[key] + vector_b[key]
    else:
      sum[key] = vector_b[key]

  return sum
sparse_add({1: 3, 2: 3, 3: 4}, {2: 4, 3: 5, 4: 6})

{1: 3, 2: 7, 3: 9, 4: 6}

In [23]:
def sparse_dot(vector_a, vector_b):
    multiplication = 0
    for key1 in vector_a:
        if key1 in vector_b:
            multiplication = multiplication + vector_a[key1] * vector_b[key1]
    return multiplication
sparse_dot({1: 3, 2: 3, 3: 4}, {2: 4, 3: 5, 4: 6})

32