<a href="https://colab.research.google.com/github/huypham090300/Pythonnangcao/blob/main/Lab05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1

In [ ]:
class Country:
  def __init__(self, name: str, population: int, area:float):
    self.name = name
    self.population = population
    self.area = area
  def is_larger(self, other):
    if (self.area > other.area):
      return True
    else:
      return False
  def population_destiny(self):
    return self.population/self.area
  def __str__ (self):
    return ('{} has a population of {} and is {} sqare km'.format(self.name, self.population, self.area))
  def __repr__(self):
    return ("Country('{0}', {1}, {2})".format(self.name, self.population, self.area))
usa = Country('United States of America', 313914040, 9826675)
canada = Country("Cananda", 34482779, 9984670)
mexico = Country('Mexico', 112336538, 1943950)

In [ ]:
#Câu a
print(canada.name)
print(canada.population)
print(canada.area)

Cananda
34482779
9984670

In [ ]:
#Câu b
print(canada.is_larger(usa))
print(usa.is_larger(canada))

True
False

In [ ]:
#Câu c
print(canada.population_destiny())

3.4535722262227995

In [ ]:
#Câu d
usa = Country('United States of America', 313914040, 9826675)
print(usa)

United States of America has a population of 313914040 and is 9826675 sqare km

In [ ]:
#Câu e
canada = Country('Canada', 34482779, 9984670)
print(canada)
print([canada])

Canada has a population of 34482779 and is 9984670 sqare km
[Country('Canada', 34482779, 9984670)]

Câu 2

In [ ]:
class Continent(Country):
    def __init__(self,name, countries):
      self.name = name
      self.countries = countries
    def total_population(self):
      total = 0
      for country in north_america.countries:
        total += country.population
      return total
    def america(self):
      num = 0
      for country in north_america.countries:
        num+=1
        print(country)
      return ''
mexico = Country('Mexico', 112336538, 1943950)
countries = [canada, usa, mexico]
north_america = Continent('North America', countries)
##Câu a
print(mexico)
print(north_america.name)
print('--------------------------------')
##Câu b
print('The total population of the three countries is :')
print(north_america.total_population())
print('--------------------------------')
##Câu c
print(north_america.america())

Mexico has a population of 112336538 and is 1943950 sqare km
North America
--------------------------------
The total population of the three countries is :
460733357
--------------------------------
Cananda has a population of 34482779 and is 9984670 sqare km
United States of America has a population of 313914040 and is 9826675 sqare km
Mexico has a population of 112336538 and is 1943950 sqare km

Câu 3

In [ ]:
class Student:
  def __init__(self, name:str, ID: int, this_course: str, last_course: str):
    self.name = name
    self.ID = ID
    self.this_course = this_course
    self.last_course = last_course
  def __str__(self):
    return('-Name : {} \n-ID : {} \n-this_course: {} \n-last_course: {}'.format(self.name, self.ID, self.this_course, self.last_course))

In [ ]:
class Member: 
  def __init__(self, course: str, ListMember: str):
    self.course = course
    self.ListMember = ListMember
  def __repr__(self):
    return('-Course : {} \n-ListMember : {}'.format(self.course, self.ListMember))

In [ ]:
class Faculty:
  def __init__(self, industry: str, ID_industry: str, mail: str ):
    self.industry = industry
    self.ID_industry = ID_industry
    self.mail = mail
  def __repr__(self):
    return('-Industry: {} \n-ID_industry: {} \n-mail: {}'.format(self.industry, self.ID_industry, self.mail))

In [ ]:
MyClass = Student('Huy Pham','187IT06836','Requirements Engineering','Object-Oriented System Analysis and Design')
print(MyClass)

-Name : Huy Pham
-ID : 187IT06836
-this_course: Requirements Engineering
-last_course: Object-Oriented System Analysis and Design

In [11]:
ClassMember = Member('Advanced Python Programming',['Huy','Teo','Ti'])
print(ClassMember.course)
print(ClassMember.ListMember)

Advanced Python Programming
['Huy', 'Teo', 'Ti']

In [12]:
MyFac = Faculty('Software Engineering','PM','k.cntt@vanlanguni.edu.vn')
print(MyFac)

-Industry: Software Engineering
-ID_industry: PM
-mail: k.cntt@vanlanguni.edu.vn

Câu 4

In [9]:
class Nematode:
  def __init__(self, lenght:int, gender:str, age: int):
    self.lenght = lenght
    self.gender = gender
    self.age = age
  def __str__(self):
    return ('Celegan is : \n+ lenght {}mm \n+ gender is {} \n+ age = {} days '.format(self.lenght, self.gender, self.age))
  def __repr__(self):
    return ('{} {} {}'.format(self.lenght, self.gender, self.age))
Celegan = Nematode(1, 'male', 9)
print(Celegan.__str__())
print(Celegan.__repr__())

Celegan is :
+ lenght 1mm
+ gender is male
+ age = 9 days
1 male 9

Câu 5