<a href="https://colab.research.google.com/github/huypham090300/Pythonnangcao/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Câu 1

In [8]:
def find_dups(L):
  elem_set = set()
  dups_set = set()
  for entry in L:
    len_initial = len(elem_set)
    elem_set.add(entry)
    len_after = len(elem_set)
    if len_initial == len_after:
      dups_set.add(entry)
  return(dups_set)
find_dups([1, 1, 2, 3, 4, 2])

{1, 2}

In [20]:
find_dups([1, 2, 3, 4])

set()

Câu 2

In [23]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Anne', 'Beatrice', 'Cari'}, {'Ali', 'Bob', 'Chen'})

{('Anne', 'Bob'), ('Beatrice', 'Chen'), ('Cari', 'Ali')}

Câu 3

In [26]:
def mating_pairs(males, females):
  pairs = set()
  num_gerbils = len(males)
  for i in range(num_gerbils):
    male = males.pop()
    female = females.pop()
    pairs.add((male, female),)
  return pairs
mating_pairs({'Mouse', 'Tiger', 'Dragon'}, {1,3,5})

{('Dragon', 5), ('Mouse', 1), ('Tiger', 3)}